$white-color: #ffffff;
$people-color: #5036e6;
$black-color: #000000;
$green-color: #009465;
$darkgreen-color: #066c4c;
$darkgrey-color: #1a1a1a;

$big-size: 1300px;
$middle-size: 768px;
$premiddle-size: 552px;
$between_size: 412px;
$small-size: 320px;
